certifi==2025.7.14
charset-normalizer==3.4.2
greenlet==3.2.3
idna==3.10
pathlib2==2.3.7
PyYAML==6.0.2
requests==2.32.4
schedule==1.2.2
six==1.17.0
SQLAlchemy==2.0.42
torbox-api==1.0.6
typing_extensions==4.14.1
urllib3==2.5.0
